/* global styles  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* root font size, 1 rem = 10px */
html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #444;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

input {
  outline: none;
  font-size: inherit;
}

button {
  cursor: pointer;
  font-size: inherit;
  border: none;
}

/*styles*/

.card {
  background-color: #fff;
  padding: 2.4rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

input {
  border-radius: 1rem;
  padding: 1rem;
}

.calculate {
  background-color: #3da9fc;
  padding: 1rem;
  border-radius: 1rem;
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
}
