/* global styles  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* root font size, 1 rem = 10px */
html {
  font-size: 62.5%;
}

body {
  font-familiy: "Poppins", sans-serif;
  font-weight: 400;
  color: #444;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

input {
  outline: none;
}

button {
  cursor: pointer;
}

/*styles*/

.card {
  background-color: #fff;
  padding: 2.4rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
