/* global styles  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* root font size, 1 rem = 10px */
html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #444;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100vh;
}

input {
  outline: none;
  font-size: inherit;
}

button {
  cursor: pointer;
  font-size: inherit;
  border: none;
}

/*styles*/

.card {
  background-color: #fff;

  padding: 2.4rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

input {
  border-radius: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
}
h2 {
  font-weight: 700;
  font-size: 3.5rem;
  text-align: center;
}

.calculate {
  background-color: #3da9fc;
  padding: 1rem;
  border-radius: 1rem;
  color: #fff;
  font-weight: 600;
  font-size: 2.5rem;
}

.calculate:hover {
  background-color: #2b8ad4;
}

p {
  font-weight: 550;
  font-size: 2rem;
}

.bill-amount,
.tip-amount,
.total-cost {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tip-percentage {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.porcentage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.porcentage button {
  background-color: #ccc;
  border: 1px solid #a9a9a9;
  padding: 1rem;
  border-radius: 1rem;
  color: gray;
  font-weight: 550;
  font-size: 1.8rem;
  flex-grow: 1;
}

.active button {
  background-color: #3da9fc;
  color: #fff;
  border: none;
}
